@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,italic');

body {
	font-family: Work Sans;
	font-size: 16px;
	line-height: 1.5;
	background-color: rgb(255, 255, 255);
	color: #020202;
	padding-top: 20px;
	margin-left: 3%;

}

h1 {
	font-size: 24px;
}

.name {
	font-size: 30px;
	margin-bottom: 40px;
}

section {
	margin-bottom: 40px;
}

a {
	color: #0022ff;
	text-decoration: none;
}


a:hover {
  	background-color: #ffffff;
	transition: 0.5s;
	color: rgb(255, 200, 0);
}

.folder {
	margin-bottom: 10px;
}

i {
	font-size:18px;
}



/* Media Queries */


@media (max-width: 940px) {
	


}

@media (max-width: 680px) {
	body {
		padding: 20px;
	}

}

@media (max-width: 450px) {
	body {
		padding: 10px;
	}
	}
